body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    color: #999;
}

embed,
a,
body,
button,
input,
select,
textarea {
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", \5FAE\8F6F\96C5\9ED1, tahoma, simsun, \5b8b\4f53;
    vertical-align: middle;
    outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a {
    text-decoration: none;

}

body {
    min-width: 1090px;
    min-height: 100%;
    font-family: "Microsoft YaHei", "微软雅黑";
}

/* 万能清浮动 */
.f-cb:after,
.clearfix:after {
    content: '';
    display: block;
    visibility: hidden;
    font-size: 0;
    clear: both;
    height: 0;
}

#docHead {
    position: relative;
    height: 100px;
    background: #fff;
    z-index: 103;
    border: 1px solid #e8e8ea;
}

#docHeadWrap {
    position: relative;
    zoom: 1;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}

#docHead .logokaola {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 330px;
    height: 65px;
    line-height: 65px;
    outline: none;
    cursor: pointer;
    z-index: 9;
    background-position: left center;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
}

#topimg {
    position: absolute;
    top: 0;
    left: 458px;
    height: 100px;
    width: 504px;
    background: url(../img/pinpai_bz.jpg);
}

/* 中间登录板块 */
.login-banner {
    background: #f8f8f8;
    background-position: center top;
    background-repeat: no-repeat;
}

.login-box {
    position: relative;
    width: 1000px;
    height: 520px;
    margin: 0 auto;
}

/* 左侧活动广告 */
.login-box .hotarea{
    position: absolute;
    left: 10px;
    top: 154px;
    width: 400px;
    height: 203px;
}
/* 登录 */
.login {
    position: absolute;
    z-index: 2;
    right: 40px;
    top: 100px;
    width: 350px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    
}

.all {
    padding-top: 20px;
    margin: 0 auto;
    width: 270px;
    height: 200px;
    z-index: 9;
}
.login h1{
    height:52px;
    line-height: 52px;
    color: #e31436;
    font-size:16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;

}
.all .wangji {
    text-align: right;
    margin-bottom: 8px;
}

.all .wangji a {
    text-decoration: underline;
    font-size: 12px;
    letter-spacing: 1px;
    color: #e31436;
    line-height: 22px;
    cursor: pointer;
}

.login .inp {
    width: 260px;
    height: 34px;
    margin-bottom: 16px;
    outline: none;
    padding-left: 10px;
    font-size: 12px;
    color: #312e3d;
    border: 1px solid #c5cddb;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.9);
}

.success {
    box-shadow: 0 0 2px #05d105;
    border: 1px solid #05d105;
}

.error {
    box-shadow: 0 0 2px red;
    border: 1px solid red;
}



.login .but {
    width: 100%;
    min-height: 36px;
    display: block;
    background-color: #e31436;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: normal;
    border-radius: 2px;
    /* margin-top: 20px; */
    transition: 0.6s;
}

.login .but:hover {
    border: 1px solid transparent;
    background-color: #F5345E;
    box-shadow: 0px 0px 2px #F5345E;
}
/* 注册 */
.register{
    position: absolute;
    z-index: 2;
    right: 40px;
    top: 100px;
    width: 350px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    display: none;  
}

.register h1{
    height:52px;
    line-height: 52px;
    color: #e31436;
    font-size:16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
}
.register .inp {
    width: 260px;
    height: 34px;
    margin-bottom: 16px;
    outline: none;
    padding-left: 10px;
    font-size: 12px;
    color: #312e3d;
    border: 1px solid #c5cddb;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.9);
}
.register .but {
    width: 100%;
    min-height: 36px;
    display: block;
    background-color: #e31436;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: normal;
    border-radius: 2px;
    /* margin-top: 20px; */
    transition: 0.6s;
}

.register .but:hover {
    border: 1px solid transparent;
    background-color: #F5345E;
    box-shadow: 0px 0px 2px #F5345E;
}
#hint{
    display: block;
    position: absolute;
    top: 54px;
    left: 40px;
    color: #e31436;

}
/* 底部 */
#foot {
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 12px;
    color: #999;
    line-height: 26px;
}

#aboutNEST a {
    text-decoration: none;
    color: #666;
    padding: 0 25px;
    font-size: 14px;

}

#aboutNEST .m-license {
    margin: 0 15px;
}

#aboutNEST .m-license2 {
    margin: 0 5px;
}