#top,
#main,
#bottom {
  width: 100%;
}
.top-con,
.main-con,
.bottom-con {
  width: 1000px;
  position: relative;
  margin: 0 auto;
}
#top .top-con {
  height: 100px;
}
#top .top-con .con-left {
  float: left;
  width: 330px;
  position: absolute;
  left: 0;
  top: 20px;
}
#top .top-con .con-left img {
  height: 65px;
  cursor: pointer;
}
#top .top-con .con-right {
  position: absolute;
  left: 458px;
  height: 100px;
  width: 504px;
  background: url(../../img/lg_logo.jpg) no-repeat center;
}
#main {
  background: url(../../img/lg_banner.jpg) no-repeat center top;
}
#main .main-con {
  height: 520px;
}
#main .main-con .login-con {
  width: 350px;
  position: absolute;
  right: 40px;
  top: 48px;
  border: 1px solid #eaeaea;
  background-color: #fff;
}
#main .main-con .login-con .con-top .loginwrap {
  position: absolute;
}
#main .main-con .login-con .con-top .loginwrap .logintop {
  position: relative;
  width: 350px;
  height: 52px;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
  color: #333;
  font-weight: bold;
}
#main .main-con .login-con .con-top .loginwrap .logintop div {
  float: left;
  width: 175px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 52px;
}
#main .main-con .login-con .con-top .loginwrap .logintop .name1 {
  color: #e31436;
}
#main .main-con .login-con .con-top .loginwrap .logintop .line {
  position: absolute;
  top: 17px;
  left: 175px;
  width: 0px;
  height: 20px;
  border-right: solid 1px #ddd;
}
#main .main-con .login-con .con-top .loginwrap .logintop .name2:hover {
  color: red;
}
#main .main-con .login-con .con-top .loginwrap .loginbox {
  width: 350px;
  background-color: transparent;
  position: relative;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp {
  width: 270px;
  padding: 20px 40px 15px;
  background-color: #fff;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .contain .u-tab {
  width: 270px;
  padding: 0 0 10px 0;
  text-align: right;
  color: #666;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .contain .u-tab i {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .group {
  height: 34px;
  line-height: 30px;
  border-color: #d5d5d5;
  border-radius: 2px;
  position: relative;
  border: 1px solid #c5cddb;
  font-size: 12px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .group .u-logo {
  width: 17px;
  padding: 0 11px;
  float: left;
  text-align: center;
  height: 18px;
  margin-top: 8px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .group .u-logo i {
  font-size: 14px;
  color: #333;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .group .grpinp {
  height: 30px;
  margin: 2px 0;
  position: relative;
  float: left;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .group .grpinp .dlemail {
  padding-left: 0px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  width: 180px;
  color: #333;
  border: 0;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .check {
  position: relative;
  margin-top: 16px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .check .check-widget {
  width: 268px;
  height: 28px;
  position: relative;
  display: inline-block;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .check .check-widget .ncpt-contents {
  width: 268px;
  height: 26px;
  border-radius: 13.4px;
  background: #eee;
  border: 1px solid #ddd;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .check .check-widget .ncpt-contents .ncpt-puzzle {
  position: absolute;
  cursor: pointer;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .check .check-widget .ncpt-contents .ncpt-puzzle img {
  width: 60px;
  height: 26px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .check .check-widget .ncpt-contents .ncpt-txt {
  line-height: 26px;
  left: 30.15px;
  position: relative;
  color: #a8a8a8;
  font-size: 12px;
  text-align: center;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .pass {
  width: 268px;
  height: 34px;
  line-height: 30px;
  border-color: #d5d5d5;
  border-radius: 2px;
  border: 1px solid #c5cddb;
  font-size: 12px;
  margin: 16px 0;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .pass .u-inp {
  height: 30px;
  margin: 2px 0;
  position: relative;
  float: left;
  width: 138px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .pass .u-inp .pcin {
  width: 130px;
  height: 30px;
  border: 0;
  position: absolute;
  top: 2;
  left: 10px;
  color: #bdbdbd;
  font-size: 16px;
  cursor: text;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .pass .pcbtn {
  float: right;
  margin-left: 10px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .pass .pcbtn a {
  display: inline-block;
  height: 34px;
  width: 96px;
  line-height: 32px;
  background-color: #eee;
  color: #333;
  border-left: #d5d5d5 solid 1px;
  text-align: center;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .logbtn {
  margin-top: 7px;
  margin-bottom: 10px;
  height: 36px;
  background-color: #e31436;
  color: #fff;
  border-radius: 2px;
  line-height: 36px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  border: 0;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .logbtn:hover {
  background: rgba(255, 0, 0, 0.5);
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .m-unlogin {
  padding: 0 0 15px 0;
  height: 16px;
  line-height: 16px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .m-unlogin .m_left {
  width: 104px;
  float: left;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info .m-unlogin .m_left .tabfocus {
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border: solid 1px #aaa;
  color: #999;
  font-size: 12px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .box-tp .login-info a {
  float: right;
  cursor: pointer;
  color: #999;
  font-size: 12px;
  line-height: 16px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .thirdlogin {
  width: 270px;
  height: 20px;
  padding: 10px 40px;
  border-top: 1px solid #ddd;
  background-color: #f8f8f8;
  font-size: 14px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .thirdlogin .tl_con {
  float: left;
  width: 160px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .thirdlogin .tl_con li {
  position: relative;
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .thirdlogin .tl_con li a {
  display: inline-block;
  width: 22px;
  height: 22px;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .thirdlogin .reg {
  display: block;
  float: right;
  width: 105px;
  color: #e31436;
  line-height: 22px;
  cursor: pointer;
}
#main .main-con .login-con .con-top .loginwrap .loginbox .thirdlogin .reg i {
  margin-left: 5px;
  height: 22px;
  width: 14px;
  display: inline-block;
  color: #e31436;
  line-height: 22px;
  cursor: pointer;
}
#bottom {
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
  color: #999;
  line-height: 26px;
  background: #fff;
}
#bottom .f-tac img {
  height: 30px;
  margin: 5px 15px 0 0;
}
#bottom a {
  text-decoration: none;
  color: #c2c2c2;
  padding: 0 25px;
  font-size: 14px;
  color: #333;
}
#bottom .m-license {
  margin: 0 10px;
}
#bottom .m-license2 {
  margin: 0 5px;
}
#bottom .btm1 {
  margin-top: 5px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  display: inline-block;
}
#bottom .btm2 {
  height: 30px;
  margin: 5px 0 0 10px;
  display: inline-block;
}
